* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 90%;

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    justify-self: center;
    margin-top: 50px;
}
nav img {
    width: 120px;
    padding: 20px;
    margin-left: 50px;
}

ul {
    display: flex;
    gap: 20px;
}
ul li {
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin-left: 130px;
    margin-top: 40px;

}
.banner-img img {
    width: 600px;
    padding: 15px;
}

.banner-text h1 {
    font-size: 50px;
}

.create {
    color: blueviolet;
    font-size: 30px;
}
.banner-text p {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 50%;
    font-size: 14px;
}
.talk-btn{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}
.banner-text h3 {
    margin-top: 30px;
}
.client-logo-img img {
    width: 60px;
}
.client-logo {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-logo-img {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.protocol{
    background-color: rgb(236, 240, 240);
    display: flex;
}
.protocol-text{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 80px;
    font-weight: bold;
}
.protocol-text h1{
    display: flex;
    margin-bottom: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.protocol-text p{
    font-size: 15px;
}
.protocol-text hr{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.performance {
    background: url(/images/globe.jpg);
    color: white;
}
.performance-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.performance-text-1{
    margin: 50px;
    padding-top: 20%;
}
.performance-text-2{
    margin: 50px;
    padding-top: 20%;
}
.performance-text-3{
    margin: 50px;
    padding-top: 20%;
}
.performance-text-4{
    margin: 50px;
    padding-top: 20%;
}
.suggestion {
    background: url(/images/People-working-together.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.suggestion-h1{
    color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.suggestion-text{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    margin-right: 20%;
}
.suggestion-text-p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.suggestion-text-h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.blogs h1{
    margin-left: 14%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8%;
    color: blueviolet;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.blogs-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 13%;
    margin-right: 14%;
    gap: 10px;
}
.blogs-1 h2{
    font-size: 10px;
    margin: 2%;
    color: grey;
}
.blogs-1 h3{
    font-size: 14px;
    margin: 2%;
}
.blogs-1 p{
    font-size: 14px;
    margin-left: 2%;
}
.blogs-1 button{
    color: blueviolet;
    padding: 5px;
    font-weight: bold;
    border: none;
    background-color: white;
}
.blogs-2 h2{
    font-size: 10px;
    margin: 2%;
    color: grey;
}
.blogs-2 h3{
    font-size: 14px;
    margin: 2%;
}
.blogs-2 p{
    font-size: 14px;
    margin-left: 2%;
}
.blogs-2 button{
    color: blueviolet;
    padding: 5px;
    font-weight: bold;
    border: none;
    background-color: white;
}
.blogs-3 h2{
    font-size: 10px;
    margin: 2%;
    color: grey;
}
.blogs-3 h3{
    font-size: 14px;
    margin: 2%;
}
.blogs-3 p{
    font-size: 14px;
    margin-left: 2%;
}
.blogs-3 button{
    color: blueviolet;
    padding: 5px;
    font-weight: bold;
    border: none;
    background-color: white;
}
.stack{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.read-logo{
    display: flex;
    font-size: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.read-logo img{
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: space-around;
    width: 9%;
}
.read-text{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 3%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.question{
    background-color: blueviolet;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 1%;
}
.question-text{
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    flex-direction: column;
}
.question-text h1{
    font-size: 40px;
    margin-top: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
.question-text p{
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 11%;
    margin-right: 10%;
}
.question-text button{
    margin-bottom: 2%;
    border-radius: 16px;
    color: blueviolet;
    padding: 8px;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    list-style-type: none;
    border: none;
}
.subscribe{
    margin-top: 4%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 4%;
}
.subscribe-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.subscribe-text-1 h1{
    font-size: 30px;
    margin-bottom: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.subscribe-text-1 p{
    margin-right: 3%;
    font-size: 12px;
}
input[type=email] {
    border: none;
    border-bottom: 1px solid;
    padding-right: 50%;
    padding-bottom: 5px;
    margin-left: 90%;
}
.subscribe-text-3{
    margin-top: 11%;
}
.subscribe-text-3 button{
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: blueviolet;
    color: white;
    border: none;
}
.ending{
    margin-top: 10%;
    background-color: black;
    color: white;
}
.ending img{
    width: 8%;
    margin-left: 13%;
    padding-top: 2%;
}
.ending-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-left: 14%;
    margin-right: 5%;
    gap: 32px;
}
.ending-text-1 h3{
    margin-top: 10%;
    font-size: 14px;
    margin-bottom: 3%;
}
.ending-text-1 p{
    font-size: 12px;
    margin-bottom: 3%;
}
.ending-text-1 button{
    margin-top: 3%;
    background-color: black;
    color: white;
    border: none;
}
.ending-text-2 h3{
    margin-top: 10%;
    font-size: 14px;
    margin-bottom: 3%;
}
.ending-text-2 p{
    font-size: 12px;
    margin-bottom: 7%;
}
.ending-text-3 h3{
    margin-top: 10%;
    font-size: 14px;
    margin-bottom: 5%;
}
.ending-text-3 p{
    font-size: 12px;
    margin-bottom: 7%;
}
.ending-text-4 h3{
    margin-top: 10%;
    font-size: 14px;
    margin-bottom: 5%;
}
.ending-text-4 p{
    font-size: 12px;
    margin-bottom: 7%
}
.ending-2024{
    display: flex;
    justify-content: end;
    margin-right: 19%;
    margin-top: 2%;
    font-size: 13px;
    padding-bottom: 4%;
}